$first-color: #ef4056; // Red  -- // hotOffers -  header - footer
$border-color: #f0f0f1; // Gray  -- // digiSuggustion - digitalCategory
$more-content-color: #19bfd3; // aqua -- // blog - electronic-devises Page

